<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>218050380630-59bcne1s9rnc767tbvpr477vcqnjdc7f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.218050380630-59bcne1s9rnc767tbvpr477vcqnjdc7f</string>
	<key>API_KEY</key>
	<string>AIzaSyCRrv14NzRuKCHomxUuO-9Xs6XvytDSnks</string>
	<key>GCM_SENDER_ID</key>
	<string>218050380630</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-ac26f</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-ac26f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:218050380630:ios:153cb272b1c9a3ea7d0cf7</string>
</dict>
</plist>